.profile {
    position: relative;
}

.profile p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 300px) {
    .profile p {
        display: none;
    }

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-text {
        display: none;
    }
}
