.sidebar {
    width: 60px;
    transition: width 0.3s ease;
    z-index: 9;
}

.sidebar.expanded {
    width: 200px;
}

.sidebar.expanded .text-hidden {
    display: block;
}

.text-hidden {
    display: none;
}
